body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }
 
 nav li{
    background-color: aqua;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    font-size: 15px;
    text-align: left;
    display: inline-block;
    padding: 15px;
 }

 img{
    text-decoration: dashed;
    margin: 0px;
    padding: 15px;
 }